@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #010105;
    color: #ffffff;
}
.header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://assets.nflxext.com/ffe/siteui/vlv3/28b69a57-cadf-43d9-8a95-e5f2e11199de/77a25a1d-7805-4618-8637-a5c86b205033/NG-en-20221010-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
}
